<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1000204221269-3975sliom0qapt1tc3tq57bn35jmne1d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1000204221269-3975sliom0qapt1tc3tq57bn35jmne1d</string>
	<key>API_KEY</key>
	<string>AIzaSyCSSS_CgO2-p9SQ9eIxO2tZPVPB8x0Pwgs</string>
	<key>GCM_SENDER_ID</key>
	<string>1000204221269</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bigwallet</string>
	<key>PROJECT_ID</key>
	<string>blocbase-83d49</string>
	<key>STORAGE_BUCKET</key>
	<string>blocbase-83d49.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:1000204221269:ios:06dc27208e50d0e6750ddc</string>
	<key>CFBundleIdentifier</key>
	<string></string>
</dict>
</plist>
